body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#div_ligne {
    border-color: black;
   border-width: 3px;
    border-style: solid;
    background-color: antiquewhite;
}